torch==2.0.1
torchvision
xformers
pytorch_lightning
einops
open-clip-torch
omegaconf
torchmetrics
triton==2.0.0
opencv-python-headless
scipy
matplotlib
lpips
gradio
chardet
transformers
facexlib
pyiqa
pydantic==1.10.11