torch==2.0.1
torchvision==2.0.1+cu118
xformers
pytorch_lightning==1.4.2
einops
open-clip-torch
omegaconf
torchmetrics==0.7
triton==2.0.0
opencv-python-headless
scipy
matplotlib
lpips
gradio==3.24.0
chardet
transformers
facexlib
pyiqa
pydantic==1.10.11
